@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
    
body {
    margin: 0;
}

    .main-container {
        background: #042a19;
    }
    
    .container-1 {
        display: flex;
        justify-content:space-around;
        background-color:#042a19;
        align-items: center;
        padding: 20px;
        
           
        
    } 
    
    .container-1 div {
        padding: 30px;
    }
    
    iframe.google-map {
    border-radius: 10px;
}
   
    
    .logo {
        max-width: 100%;
        height: auto;
        width: 80px;
        margin-right: 20px;
        filter: brightness(0) invert(1);
    }
    
    .left-text {
        color: #ffffff;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        display: block;
        line-height: 1.8;
        text-decoration: none;
        transition: all 0.3s;
        font-weight: 500;
    }
    
       .left-text:hover {
        color: #08ab62;
       
    }
    
    
    .center-text {
        color: #bfbfbf;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        display: block;
        line-height: 1.8;
        transition: all 0.3s;
    }
    
    .center-text:hover {
        color:#08ab62;
    }

   
    
    .f-book {
        color:#ffffff;
        text-align: center;
        font-size: 24px;
        margin-right: 10px;
        margin-top: 15px;
        transition: all 0.3s;
    }
    
      .f-book:hover {
       
       color: #08ab62;
        
    }
    
     .i-gram {
        color:#ffffff;
        text-align: center;
        font-size: 23px;
        transition: all 0.3s;
    }
    
      .i-gram:hover {
       
        color: #08ab62;
       
    }
    
    .map-icon {
        color: #ffffff;
        margin-right: 15px;
    }
    
    .phone-icon {
        color: #ffffff;
        margin-right: 15px;
    }
    
    .mail-icon {
        color: #ffffff;
        margin-right: 15px;
    }
    
    .google-map {
        width: 400px;
        height: auto;
        max-width: 100%;
    }
    
    .heading {
        font-size: 40px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        
    }
    
 
    
  
    .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #042a19;
               
    }
    
   
   
 hr {
     border: 0;
     clear:both;
     display:block;
     width: 80%;               
     background-color:#063e25;
     height: 1px;
     margin-top: 30px;
     
     
}
   
   
    
    /* small tablets to big tablets : from 768px to 1032px */
    @media only screen and (max-width: 1023px) {
        .container-1 {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            
            
            
        }
        
        .logo {
            width: 80px;
        }
        
    
        
        
    }
        
    /* small phones to small tablets: from 481px to 767px */
    @media only screen and (max-width: 767px) {
        .container-1 {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            
        }
        
        .logo {
            width: 80px;
            padding-left: 20px;
        }
        
   
        
        
      
        
    }
   
   
    
